<li class="event-list">
  <section class="event-item" data-title="{{ object.title }}" data-date="{{ object.events_holding_date }}"
    data-time="{{ object.events_holding_time }}" data-place="REPUBLICK | Минск" data-description="Lorem Ipsum является текст-заполнитель обычно используется в
    графических," data-href="{{ object.get_absolute_url }}" data-image="{{ MEDIA_URL}}{{ object.events_image }}"
    data-lat="37.913" data-lng="-77.032">
    <div class="event-img">
      <a href="{{ object.get_absolute_url }}" class="event-link-img">
        <img src="{{ MEDIA_URL}}{{ object.events_image }}" alt="" />
      </a>
    </div>
    <div class="container">
      <div class="event-item-title">
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
      </div>
      <p class="event-item-date">
        <i class="far fa-calendar-alt"></i> {{ object.events_holding_date }}
        <i class="far fa-clock"></i> {{ object.events_holding_time }}
      </p>
      <p class="event-item-description">
        Lorem Ipsum является текст-заполнитель обычно используется в
        графических,
      </p>
      <p class="event-item-place">REPUBLICK | <span>Минск</span></p>
    </div>
  </section>
</li>

<!--{% for tag in event.tags.all %}
    <h3>Tag:</h3>
    <a href="{{ tag.get_absolute_url }}"> {{ tag.title }}</a>
{% endfor %}-->