// FONTS
@font-face {
  font-family: OpenSans;
  src: url("/static/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: AlegreyaSans;
  src: url("/static/assets/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("/static/assets/fonts/Roboto/Roboto-Regular.ttf");
}
