@import "./fonts.scss";

/*===== Fonts =====*/

$roboto: Roboto;
$openSans: OpenSans;
$alegreyaSans: AlegreyaSans;

/*===== endFonts =====*/

/*===== Size =====*/

$mainFontSize: 18px;
$mainFontColor: #000;
$secondFontColor: rgb(238, 238, 238);

$desktopWidth: 1280px;
$smDesktopWidth: 1100px;
$tableWidth: 860px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

/*===== endSize =====*/
$hoverColor: #d2b356;
