@import "./fonts.scss";

/*===== Fonts =====*/

$roboto: Roboto;
$openSans: OpenSans;
$alegreyaSans: AlegreyaSans;

/*===== endFonts =====*/

/*===== Size =====*/

$mainFontSize: 18px;
$mainFontColor: #000;

/*===== endSize =====*/
