{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  <title>Events Ways</title>
  {% endblock %}
  <script src="https://kit.fontawesome.com/d4b7d5dae0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "index.css" %}">
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
    type='text/css' />

  <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
</head>

<body>

  <header class="header">

    <nav class="header-nav">
      <div class="nav-menu">
        <div class="header-logo">
          <a href="#">EVENTSWAYS</a>
        </div>
        <div class="header-item-search">
          <div class="header-input">
            <i class="fas fa-search"></i>
            <form action="{% url "events" %}" class="header-form-input">
              <input type="text" placeholder="Поиск событий" name="search" />
            </form>
          </div>


        </div>
        <ul class="header-list">
          <li class="header-list-item">
            <a href="#" class="header-link">События</a>
          </li>
          <li class="header-list-item">
            <a href="#" class="header-link">Обзор</a>
          </li>
          <li class="header-list-item">
            <a href="#" class="header-link">Помощь</a>
          </li>
          <li><button class="header-btn btn">Создать событие</button></li>
        </ul>
      </div>

      <div class="toggle-menu">
        <i class="fas fa-bars"></i>
      </div>
      </div>
    </nav>

  </header>
  <main id="main">
    {% block content %} {% endblock %}
  </main>

  <footer id="footer">
    <div class="container">
      <div class="footer-inner">
        <div class="footer-content">
          <div class="footer-logo">
            <a href="#">EVENTSWAYS</a>
            <span>eventsways@gmail.com</span>
          </div>
          <nav class="footer-nav">
            <ul class="footer-ul">
              <li class="footer-list"><a href="#">События</a></li>
              <li class="footer-list"><a href="#">Обзор</a></li>
              <li class="footer-list"><a href="#">Помощь</a></li>
            </ul>
          </nav>
          <div class="footer-social">
            <p>Мы в Соц.сетях</p>
            <div class="footer-social-items">
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-telegram-plane"></i></a>
            </div>
          </div>
        </div>
        <div class="copyright">
          Copyright © EVENTSWAYS 2020 Все права защищены
        </div>
      </div>
    </div>
  </footer>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>
  <script src="{% static "index.bundle.js" %}"></script>
</body>

</html>