{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="overview-banner">
    <img src="{% static "assets/img/1.gif" %}" class="overview-banner-img" alt="">
    <div class="overview-banner-inner">
        <h1>
            EVENTSWAYS
            <span class="bottom-span"></span>
            <span class="right-span"></span>
            <span class="top-span"></span>
            <span class="left-span"></span>
        </h1>

    </div>
</section>

<section class="advantage">
    <div class="advantage-inner">
        <div class="advantage-content">
            <div class="container">
                <div class="advantage-content-inner">
                    <h2 class="advantage-title">НАШИ ПЛЮСЫ</h2>
                    <ul class="advantage-ul">
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-check-circle fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Легкодоступность</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-globe-europe fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Интернациональность</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-mobile-alt fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Адаптивность</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-sliders-h fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Категории на любой вкус</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-sliders-h fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Категории на любой вкус</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                        <li class="advantage-list">
                            <section class="advantage-list-item">
                                <div class="advantage-item-icon">
                                    <i class="fas fa-sliders-h fa-2x"></i>
                                </div>
                                <div class="advantage-item-content">
                                    <div class="container">
                                        <div class="advantage-item-content-inner">
                                            <h3>Категории на любой вкус</h3>
                                            <p>Создавай категории сам</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="advantage-img">
            <img src="{% static "assets/img/overview-img1.jpg" %}" alt="">
        </div>
    </div>
</section>

<section class="choiceEvent">
    <div class="choiceImg">
        <img src="{% static "assets/img/2.jpg" %}" alt="">
    </div>
    <div class="choiceEventText">
        <div class="container">
            <div class="choiceEventTextInner">
                <h2>Клацни чтобы получить случайное Событие</h2>
                <div class="choiceButton">
                    <button>Событие</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="overviewOverlay">
    <section class="choiceOverlayEvent">
    </section>
    <section class="choiceOverlayEventWindow">
        <section class="choiceEventItem">
            <div class="choiceCloseIcon">
                <i class="far fa-window-close fa-lg"></i>
            </div>
            <div class=" choiceEventImg">
                <a href="{{ random_item.get_absolute_url }}">
                    <img src="{{ random_item.events_image.url }}" alt="">
                </a>
            </div>
            <div class="container">
                <div class="form-event-up-content choiceEventContent" data-lat='{{ random_item.lat }}'
                    data-lng='{{ random_item.lng }}'>
                    <h2 class="form-event-title">{{ random_item.title }}</h3>
                        <div class="form-event-up-time">
                            <p class="event-item-date">
                                <i class="far fa-calendar-alt"></i> {{ random_item.events_holding_date }}
                                <i class="far fa-clock"></i> {{ random_item.events_holding_time }}
                            </p>
                            <p class="form-event-address"><i class="fas fa-map-marker-alt"></i>
                                {{ random_item.place }}|{{ random_item.city }}
                            </p>
                        </div>
                        <p class="form-event-category">
                            #{{ random_item.category }}
                        </p>
                </div>
            </div>
            <div class="form-event-description">
                <button class="form-event-btn description-btn overview-btn-description">Описание <i
                        class="fas fa-angle-down"></i></button>
                <div class="form-event-description-text">
                    <div>
                        {{ random_item.body|safe }}
                    </div>
                </div>
            </div>
            <div class="form-event-map">
                <button class="form-event-btn map-btn">Карта <i class="fas fa-angle-down"></i></button>
                <div class="form-event-mapbox">
                    <div id="form-event-map"></div>
                </div>
            </div>
        </section>
    </section>
</div>
<div></div>
<script src="{% static "about.bundle.js" %}"></script>
<script src="{% static "eventDetailMap.bundle.js" %}"></script>

{% endblock  %}