{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div id="overlay" style="display: none;"></div>
<section id="events">
  <aside class="filters">
    <div class="filters-inner">
      <div class="filters-close">
        <i class="fas fa-times fa-lg"></i>
      </div>
    </div>
  </aside>

  <section class="allevents">
    <div class="container">
      <div class="events-filters-btn">
        <button class="btn btn-shadow">Фильтры</button>
      </div>
      <ul class="main-event-ul all-events-list">
        {% for event in page_object.object_list %}
        {% include 'main/includes/event_card_template.html' %}
        {% endfor %}
      </ul>
    </div>

    <!--PAGINATION-->

  {% if is_paginated %}

    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not prev_url %} disabled {% endif %}">
      <a class="page-link" href="{{ prev_url }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>

    {% for n in page_object.paginator.page_range %}  

      {% if page_object.number == n %}
          <!-- Activ page -->
          <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
      {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}

      <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
      
      {% endif %}

    {% endfor %}

    <li class="page-item {% if not next_url %} disabled {% endif %}">
      <a class="page-link" href="{{ next_url }}">Next</a>
    </li>
  </ul>
</nav>
{% endif %}

  </section>
</section>  
<script src="{% static "events.bundle.js" %}"></script>


{% endblock %}
</section>