{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="section-container event-create-section">
    <div class="container">
        <div class="event-create-inner">
            <div class="form-create-block">
                <div class="container">
                    <form action='{% url 'event_create_url' %}' method='post' class="event-create">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="create-event-mapbox">
                            <h2>Укажите мероприятие на карте</h2>
                            <div id="create-event-map"></div>
                        </div>
                        <div class="create-event-btn">
                            <button type='submit'>Создать событие</button>
                        </div>
                    </form>
                </div>
            </div>

            <section class="event-create-events-list">
                <div class="container">
                    <div class="event-create-events-list-inner">
                        <ul class="event-create-ul">
                            {% for object in random_events %}
                                {% include 'main/includes/event_card_template.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<script src="{% static "createEventMap.bundle.js" %}"></script>

{% endblock %}