{% extends 'base.html' %}



{% block content %}
<section class="section-container event-create-section">
    <div class="container">
        <div class="event-create-inner">
            <div class="form-create-block">
                <div class="container">
                    <form action='{% url 'event_create_url' %}' method='post' class="event-create">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="create-event-btn">
                            <button type='submit'>Создать событие</button>
                        </div>
                    </form>
                </div>
            </div>
            <section class="event-create-events-list">
                <div class="container">
                    <div class="event-create-events-list-inner">
                        <ul class="event-create-ul">
                            <li class="event-list">
                                <section class="event-item">
                                    <div class="event-img">
                                        <a href="#" class="event-link-img">
                                            <img src="./img/stock-photo-152707951.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="container">
                                        <div class="event-item-title">
                                            <a href="#">Title</a>
                                        </div>
                                        <p class="event-item-date">
                                            <i class="far fa-calendar-alt"></i> 18 февраля 2020
                                            <i class="far fa-clock"></i> 19:00
                                        </p>
                                        <p class="event-item-description">
                                            Lorem Ipsum является текст-заполнитель обычно используется в графических,
                                        </p>
                                        <p class="event-item-place">
                                            REPUBLICK | <span>Минск</span>
                                        </p>
                                    </div>
                                </section>
                            </li>
                            <li class="event-list">
                                <section class="event-item">
                                    <div class="event-img">
                                        <a href="#" class="event-link-img">
                                            <img src="./img/stock-photo-152707951.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="container">
                                        <div class="event-item-title">
                                            <a href="#">Title</a>
                                        </div>
                                        <p class="event-item-date">
                                            <i class="far fa-calendar-alt"></i> 18 февраля 2020
                                            <i class="far fa-clock"></i> 19:00
                                        </p>
                                        <p class="event-item-description">
                                            Lorem Ipsum является текст-заполнитель обычно используется в графических,
                                        </p>
                                        <p class="event-item-place">
                                            REPUBLICK | <span>Минск</span>
                                        </p>
                                    </div>
                                </section>
                            </li>
                            <li class="event-list">
                                <section class="event-item">
                                    <div class="event-img">
                                        <a href="#" class="event-link-img">
                                            <img src="./img/stock-photo-152707951.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="container">
                                        <div class="event-item-title">
                                            <a href="#">Title</a>
                                        </div>
                                        <p class="event-item-date">
                                            <i class="far fa-calendar-alt"></i> 18 февраля 2020
                                            <i class="far fa-clock"></i> 19:00
                                        </p>
                                        <p class="event-item-description">
                                            Lorem Ipsum является текст-заполнитель обычно используется в графических,
                                        </p>
                                        <p class="event-item-place">
                                            REPUBLICK | <span>Минск</span>
                                        </p>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{% endblock %}