{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="overlay" style="display: none;"></div>
<section id="events">
  <aside class="filters">
    <div class="filters-inner">
      <div class="filters-close">
        <i class="fas fa-times fa-lg"></i>
      </div>
      <div class="view">
        <div class="view-inner">
          <button id="grid-events-btn" class="active-btn" data-flag="0" disabled><i class="fas fa-th"></i></button>
          <button id="list-events-btn" data-flag="1"><i class="fas fa-list"></i></button>
          <button id="map-events-btn" data-flag="2"><i class="fas fa-map-marked-alt"></i></button>
        </div>
      </div>
      <!--Filtering date-->
      <form action="" method="get" class="filter-form">
        <div class="container">
          <div class="filter-title">
            <div class="header-item-search">
              <div class="header-input">
                <i class="fas fa-search"></i>
                  {{ filter.form.title }}
              </div>
            </div>
          </div>
          <div class="filter-date">
            <h3>Дата</h3>
            {{ filter.form.events_holding_date }}
          </div>
          <div class="filter-category">
            <h3>Категории</h3>
            {% for choice in filter.form.category %}
            {{ choice.tag }} {{ choice.choice_label }}
            {% endfor %}
          </div>

          <div class="filter-country">
            <h3>Страна</h3>
            {{ filter.form.country }}
            <div class="selection">
              <span class="selected-option" value="">Выберите</span>
              <div class="selection-icon">
                <i class="fas fa-angle-down"></i>
              </div>
              <div class="options">
                <ul class="options-ul">
                  {% for country in countries %}
                    <li>{{ country }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <button type="submit" class="filter-submit-btn">Применить</button>
        </div>
      </form>
    </div>
  </aside>



  <section class="allevents">
    <div class="container">
      <div class="events-filters-btn">
        <button class="btn btn-shadow">Фильтры</button>
      </div>
      <ul class="main-event-ul all-events-list">
        {% for object in object_list %}
          {% include 'main/includes/event_card_template.html' %}
        {% endfor %}
      </ul>
      <div class="mapbox">
        <div id="map"></div>
      </div>
    </div>
    <!--PAGINATION-->
    {% load my_tags %}

    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="?{% param_replace page=1 %}">First</a>
    {% if page_obj.previous_page_number != 1 %}
    <a href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
    {% endif %}
    {% endif %}

    Page {{ page_obj.number }} of {{ paginator.num_pages }}

    {% if page_obj.has_next %}
    {% if page_obj.next_page_number != paginator.num_pages %}
    <a href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
    {% endif %}
    <a href="?{% param_replace page=paginator.num_pages %}">Last</a>
    {% endif %}

    <p>Objects {{ page_obj.start_index }}—{{ page_obj.end_index }}</p>
    {% endif %}



  </section>
</section>
<script src="{% static "events.bundle.js" %}"></script>

<script src="{% static "eventsMap.bundle.js" %}"></script>

{% endblock %}
</section>