{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="banner">
  <img src="{% static "assets/img/intro-bg.jpg" %}" class="banner-img" alt="">
  <div class="container">
    <div class="banner">
      <div class="banner-text">
        <h1>Создавай свои события у нас бесплатно</h1>
      </div>
      <button class="btn btn-shadow banner-btn">Подробнее</button>
    </div>
  </div>
</section>

<section class="main-events">
  <h2 class="main-events-title">Свежие события</h2>
  <div class="container">
    <ul class="main-event-ul main-list">
      {% for event in events %}
      {% include 'main/includes/event_card_template.html' %} {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}