{% extends 'base.html' %}

{% block content %}
<div class="help">
    <div class="help-box">
        <h1 class="help-title">Ответы на часто задаваемые вопросы</h1>
        <div class="container">
            <div class="help-inner">
                <ul class="help-ul">
                    <li class="help-list">
                        <h2 class="help-list-item-title">
                            - Как добавить событие?
                        </h2>
                        <p class="help-list-item-answer"> Мы предоставляем бесплатную возможность добавления
                            мероприятия
                            во
                            вкладке - <a href="#"> Создать событие</a></p>
                    </li>
                    <li class="help-list">
                        <h2 class="help-list-item-title">
                            - Что такое EventsWays?
                        </h2>
                        <p class="help-list-item-answer"><strong>EventsWays</strong> - безграничная вселенная
                            мероприятий,
                            проходящих по всему
                            миру!</p>
                    </li>
                    <li class="help-list">
                        <h2 class="help-list-item-title">
                            - Почему моё собыите не добавилось?
                        </h2>
                        <p class="help-list-item-answer">На нашем сайте проводиться проверка событий
                            администраторами и
                            как
                            только оно пройдёт проверку, событие будет добавлено в каталог.</p>
                    </li>
                    <li class="help-list">
                        <h2 class="help-list-item-title">
                            - Как увеличить скорость проверки своего события?
                        </h2>
                        <p class="help-list-item-answer"> Событие совсем скоро? Напиши на нашу почту -
                            <strong> eventsways@gmail.com</strong> и
                            событие пройдёт проверку вне очереди.</p>
                    </li>
                    <li class="help-list">
                        <h2 class="help-list-item-title">
                            - Остались вопросы?
                        </h2>
                        <p class="help-list-item-answer">Вы можете легко связаться с нами по почте или в любой
                            доступной
                            социальной сети.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}