@import "./utils/var.scss";
@import "./utils/fn.scss";

html {
  font-size: $mainFontSize;
  height: 100%;
  color: $mainFontColor;
  @media screen and (max-with: 1280px) {
    font-size: 16px;
  }

  @media screen and (max-with: 768px) {
    font-size: 14px;
  }

  @media screen and (max-with: 480px) {
    font-size: 12px;
  }
}
