@import "./utils/var.scss";
@import "./utils/fn.scss";

@import "./components/buttons/buttons.scss";
@import "./animation/animation.scss";
@import "./components/header/header.scss";
@import "./components/footer/footer.scss";
@import "./components/main/eventsList/eventsList.scss";
@import "./components/main/banner/banner.scss";

@import "./components/events/events.scss";
@import "./components/eventsCreate/eventsCreate.scss";
@import "./components/eventDetail/eventDetail.scss";
@import "./components/preloader/preloader.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  font-family: $openSans;
  position: relative;
  overflow-x: hidden;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: $mainFontColor;
}
p {
  margin: 5px 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#overlay {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-event-ul {
  padding: 50px 0;
  display: grid;
}
.event-create-ul{
  display: grid;
  grid-template-columns: 100%;
}
.main-list {
  grid-template-columns: 25% 25% 25% 25%;
  @media screen and (max-width: $smDesktopWidth) {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }
  @media screen and (max-width: $tableWidth) {
    grid-template-columns: 50% 50%;
  }
  @media screen and (max-width: $phoneWidth) {
    grid-template-columns: 100%;
  }
}

.list-events-list{
  grid-template-columns: 100%;
  padding: 75px;
  @media screen and (max-width: 1060px) {
    padding: 0;
  }
  
 
  
}

.all-events-list {
  grid-template-columns: 33.33333% 33.33333% 33.33333%;
  @media screen and (max-width: $smDesktopWidth) {
    grid-template-columns: 50% 50%;
  }
  @media screen and (max-width: $smTableWidth) {
    grid-template-columns: 100%;
  }
}

#main{
  min-height: 90vh;
  width: 100%;
}
.section-container{
  padding-top: 100px;
}