.help{
  background-color: $secondFontColor;
  padding: 150px 0;
}
.help-box {
  width: 100%;
  padding: 75px 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  @media screen and (min-width: $tableWidth) {
    width: 750px;
  }
  @media screen and (min-width: $smDesktopWidth) {
    width: 900px;
  }

}

.help-title{
  text-align: center;
  padding: 20px 0;
}
.help-list-item-title{
  font-family: $roboto;
}
.help-list{
  margin: 30px 0;
}
.help-list-item-answer{
  padding-left: 15px;
  font-family: $alegreyaSans;
  font-size: rem(22);
}
.help-list-item-answer > a{
  color: $hoverColor;
}
