@import "./select.scss";

#events {
  position: relative;
  display: grid;

  grid-template-columns: 300px calc(100% - 300px);
  background-color: $secondFontColor;
  @media screen and (max-width: 880px) {
    grid-template-columns: 100%;
  }
}

.events-filters-btn {
  width: 100%;
  display: none;
  justify-content: center;
  @media screen and (max-width: 880px) {
    display: flex;
  }
}
.filters{
  @media screen and (max-width:880px){
    display: none;
    width: 0;
  }
}
.filters-inner {
  padding: 100px 0 300px;
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  transition: padding 0.4s ease-in-out;
  transition: all 0.2s linear;
  z-index: 1000;
  @media screen and (max-width:880px){
    left: -500px;
  }
  @media screen and (max-width: $phoneWidth) {
    width: 100%;
    z-index: 2000;
    padding-bottom: 0;
  }
}
.filters-inner-withoutHeader{
  padding-top: 30px;
}
.filters-close {
  display: flex;
  padding: 10px 30px;
  justify-content: flex-end;
}
.filters-close > i {
  display: none;
  cursor: pointer;
}

.allevents {
  padding: 150px 0 150px;
  overflow: hidden;
  min-height: 100vh;
  @media screen and (max-width: $phoneWidth) {
    padding-bottom: 200px;
  }
}
.mapbox{
  height: 70vh;
  margin: 70px 0;
  position: relative;
  display: none;
  
}
#map{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  
}

.filter-form > div > div > h3{
  text-align: center;
  margin-bottom: 10px;
}
.filter-form > .container > div{
  margin: 40px 0;
}

.filter-date > input {
 font-family: $roboto;
 font-weight: 700;
 cursor: pointer;
 outline: none;
 border: 1px solid #000;
 padding: 0 0 0 5px;
}
.filter-date > input:focus {
  border: 2px solid $hoverColor;
}

.mapOff{
  display: none;
}
.mapActive{
  display: block;
}

.pagination-nav{
  display: flex;
  justify-content: center;
}
.page-item{
  margin: 0 2px;
}
.page-link{
  padding: .3rem .8rem;
  border: 2px solid #000;
  font-family: $openSans;
  font-weight: 700;
  cursor: pointer;
  transition: all .2s linear;
  @media screen and (max-width: 425px) {
    padding: .2rem .5rem;
  }
}

.page-link:hover{
  background-color: $hoverColor;
  border-color: $hoverColor;
  color: #fff;
}

.page-active{
  background-color: $hoverColor;
  color: #fff;
  border-color: $hoverColor;
}

.view{
  padding-bottom: 10px;
  border-bottom: 1px solid  $secondFontColor;
}

.view-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-inner button{
  border: none;
  background-color:  $secondFontColor;
  font-family: $roboto;
  padding: 6px 12px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.view-inner button:nth-child(2){
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.view-inner button.active-btn{
  color: $hoverColor;
  border-bottom: 2px solid $hoverColor;
  
}
